<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Attendence</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container-fluid my-2">
        <nav class="navbar navbar-dark bg-primary  navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/captureAt" target="_self">Capture Attendence</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Print Sheet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <h2>User Guide Here</h2>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Footer Here</span>
        </div>
    </footer>
</body>
<script src="../static/bootstrap.js"> </script>
<script src="../static/jquerymin.js"> </script>
<!-- <script src="{{ url_for('static',filename='bootstrap.js') }}"> </script>
<script src="{{ url_for('static',filename='jquerymin.js') }}"> </script> -->
</html>